.login-page {
    background: url('../images/login.jpg') no-repeat;
}

.login-box {
    background-color: #FFF;
    border-radius: 5px;
    opacity: 0.8;
    width: 300px;
    float: right;
    padding: 30px;
    margin-top: 10%;
    margin-right: 10%;
}

.login-box-body {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    opacity: 0.8;
    border-top: 1px solid #ddd;
}

.login-logo {
    text-align: center;
}

h3 {
    margin-top: -10px;
}